services:
  y2o:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: y2o
    environment:
      - Y2O_SecretKey=your_secret_key
      - Y2O_CatalogID=your_catalog_id
      - Y2O_ServerURL=http://127.0.0.1:8520
      - Y2O_LogFile=logs/y2o.log
      - Y2O_LogLevel=INFO
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      # - ./certs:/app/certs
    ports:
      - "8520:8000"
    restart: unless-stopped